.divS{
float: right;

}
.divSIMAGE{
    width: 200px;
    border-radius: 600px;
}
.divV{
    float: left;
}
.heading{
    font-size: large;
    width: 100%;
    margin: 0px;
}
.note{
    color: yellow;
}
canvas{
    border: 15px;
    border-style:double;
}
